body, html {
  margin: 0;
  padding: 0;
  background: #62727b;
}

#canvas {
  margin-right: -353px;
  transform: translateY(-111px);
}

#frame {
  z-index: 99;
}

.wrapper {
  transform-origin: top;
  text-align: center;
}

.names {
  
}

@media (min-width: 100vh) {
  @media (max-height: 784px) {
    .wrapper {
      transform: scale(.75);
    }
  }
}

@media (max-width: 75vh) {
  #canvas {
    margin-right: 0;
    transform: translateY(0);
  }
  #frame {
    display: none;
  }
  @media (max-height: 568px) {
    .wrapper {
      transform: scale(.75);
    }
  }
}
