@import url('https://fonts.googleapis.com/css?family=Bungee|Monoton|Montserrat+Subrayada:700|Zilla+Slab+Highlight');

body, html {
  margin: 0;
  padding: 0;
  background: #62727b;
}

img {
  vertical-align: initial;
}

#canvas {
  margin-right: -353px;
  transform: translateY(-111px);
}

pre, code {
  white-space: pre-wrap !important;
}

.tingle-modal-box__content {
  background-color: #263238;
}

.tingle-modal-box__footer {
  background-color: #4f5b62;
}

#frame {
  z-index: 99;
}

.wrapper {
  transform-origin: top;
  text-align: center;
  min-height: 100vh;
}

.names {
  padding: 20px;
  font-family: Bungee;
}

.code-btn {
  margin-top: 20px;
}

.jupiter {
  font-size: 5em;
  padding: 25px;
  font-family: "Zilla Slab Highlight";
}

#footer {
  height: 100vh;
  position: absolute;
  margin-bottom: 100vh;
  text-align: center;
  width: 100%;
  padding: 10px;
}

@media (min-width: 100vh) {
  @media (max-height: 784px) {
    .wrapper {
      transform: scale(.75);
    }
  }
}

@media (max-width: 75vh) {
  #canvas {
    margin-right: 0;
    transform: translateY(0);
  }
  #frame {
    display: none;
  }
  @media (max-height: 568px) {
    .wrapper {
      transform: scale(.75);
    }
  }
}
